language = "csharp"
run = "mcs -out:main.exe 'SGC/main.cs' 'SGC/consulta.cs' 'SGC/funcionario.cs' 'SGC/medico.cs' 'SGC/paciente.cs' 'SGC/NFuncionario.cs' 'SGC/NMedico.cs' 'SGC/NPaciente.cs' 'SGC/NConsulta.cs' 'SGC/arquivo.cs'; mono main.exe"