language = "csharp"
run = "mcs -out:main.exe 'Códigos/main.cs' 'Códigos/consulta.cs' 'Códigos/funcionario.cs' 'Códigos/medico.cs' 'Códigos/paciente.cs' 'Códigos/NFuncionario.cs' 'Códigos/arquivo.cs'; mono main.exe"